*{
    background-color: #daeff6;
}

header {
    font-family: 'Oi', cursive;
    font-size: 2.3rem;
    color: #b22a4c;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main{
    border: solid black 1px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 220px;
    background-color: #efe1b9;
    box-shadow: 0px 0px 6px grey;
}

#board {
    display: grid;
    width: 608px;
    height: 608px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#colorPicker {
    height: 4.3rem;
    width: 10.3rem;
    background-color: #efe1b9;
    border: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 10rem; 
    height: 3px; 
    background: #e39e87;
    border: none; 
    border-radius: 5px; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 20px; 
    height: 20px; 
    background: #b22a4c; 
    border-radius: 0.2rem; 
    cursor: pointer; 
}

.box {
    background-color: white;
}

.btn {
    border: hidden;
    border-radius: 0.5rem;
    height: 4rem;
    width: 10rem;
    background-color: #e39e87;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}


main {
}